<div class="row">
  <div class="col-md-12">
    <h3>Manage conditions</h3>

    <%= link_to "Add new condition", new_condition_path, :class => "btn btn-primary" %>
    <p>&nbsp</p>
    <table class="table table-striped">
      <tr>
        <th>Label</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

      <% @conditions.each do |condition| %>
      <tr>
        <td><%= condition.label %></td>

        <td>
         <%= link_to "View", condition_path(condition.id) %>
        </td>
        <td>
          <%= link_to "Edit", edit_condition_path(condition.id) %>
        </td>

        <td>
          <%= link_to "Delete", condition_path(condition.id), :method => "delete", data: {confirm: "Are you sure?"} %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
