<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <% if @sell %>
      <% if @items.count ==0 %>

          <h2>Nothing on sale yet =(</h2>
          <br>
          <%= link_to "Start selling now!", new_item_path, :class => "btn btn-lg btn-primary"%>
      <% else %>
        <%= link_to "Sell new item", new_item_path, :class => "btn btn-lg btn-primary"%>
        <p>&nbsp</p>
        <h3>Items you are currently selling</h3>
      <% end %>
    <% end %>
    <% @items.each do |item| %>
      <div class="col-md-6 browse-item">
        <div class="browse-item-picture-frame">
          <% if @pictures.where(:item_id => item.id).count != 0 %>
            <% if @pictures.where(:item_id => item.id).where(:default_picture => true).count !=0 %>
            <%= link_to "#{image_tag(@pictures.where(:item_id => item.id).where(:default_picture => true).first.image.url(:med), class: 'browse-item-picture')}".html_safe, item_path(item.id) %>
            <% else %>
              <%= link_to "#{image_tag(@pictures.where(:item_id => item.id).first.image.url(:med), class: 'browse-item-picture')}".html_safe, item_path(item.id) %>
            <% end %>
          <% else %>
            <%= link_to "#{image_tag('default_picture.png', class: 'browse-item-picture')}".html_safe, item_path(item.id) %>
          <% end %>
<!--           <div class="browse-item-social">
            <span style="font-size: 40px" class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
          </div> -->
        </div>
        <div class="browse-item-data">
          <div class="browse-item-name-frame">
              <%= link_to truncate(item.title, length: 17), item_path(item.id), :class => "browse-item-name" %>
          </div>
          <div class="browse-item-price-frame">
            <%= link_to "$"+"%.2f" % item.price, item_path(item.id), :class => "browse-item-price" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
