<!-- Validation failure messages -->
  <% if @item.errors.any? %>
    <% @item.errors.full_messages.each do |message| %>
      <div class="alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= message %>
      </div>
    <% end %>
  <% end %>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <%= form_tag "/sell", :class => "form-horizontal", :method => "post" do %>

      <!-- Label and input for user_id -->
          <%= hidden_field_tag 'user_id', current_user.id, class: 'form-control' %>

      <!-- Label and input for status_id -->
          <%= hidden_field_tag 'status_id', 1, class: 'form-control' %>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Describe your item</h3>
        </div>
        <div class="panel-body">

          <!-- Label and input for title -->
          <div class="form-group">
            <label for="title" class="col-sm-3 control-label required">
              Title
              <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Put some meaningful name for the item you want to sell"></span>
            </label>
            <div class="col-sm-8">
              <%= text_field_tag 'title', nil, class: 'form-control' %>
            </div>
          </div>

          <!-- Label and input for category_1_id -->
          <div class="form-group">
            <label for="category_1_id" class="col-sm-3 control-label required">
              Category
            </label>
            <div class="col-sm-4">
              <%= select_tag 'category_1_id', options_from_collection_for_select(Category.order("name"), :id, :name), include_blank: true,  class: 'form-control' %>
            </div>
          </div>

          <!-- Label and input for description -->
          <div class="form-group">
            <label for="description" aria-required="true" class="col-sm-3 control-label">
              Brief description <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            </label>
            <div class="col-sm-8">
              <%= text_area_tag 'description', @batman, row: 20, class: 'form-control' %>
            </div>
          </div>

          <!-- Label and input for photos -->
          <div class="form-group">

            <label for="photos" class="col-sm-3 control-label">
              Photos
            </label>
            <div class="col-sm-8">
              <button class="btn btn-default" data-toggle="modal" data-target="#myModal" type="button" disabled="disabled">Add photos</button>
            </div>
          </div>

          <!-- Label and input for condition_id -->
          <div class="form-group">
            <label for="condition_id" class="col-sm-3 control-label">
              Condition
            </label>
            <div class="col-sm-4">
              <%= select_tag 'condition_id', options_from_collection_for_select(Condition.order("label"), :id, :label), include_blank: true, class: 'form-control' %>
            </div>
          </div>


          <!-- Label and input for item_url -->
          <div class="form-group">
            <label for="item_url" class="col-sm-3 control-label">
              Reference link
              <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            </label>
            <div class="col-sm-4">
              <%= text_field_tag 'item_url', nil, class: 'form-control' %>
            </div>
          </div>

          <!-- Label and input for details -->
          <div class="form-group">
            <label for="details" aria-required="true" class="col-sm-3 control-label">
              Details <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            </label>
            <div class="col-sm-8">
              <%= text_area_tag 'details', nil, row: 20, class: 'form-control' %>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Describe the sale terms</h3>
        </div>
        <div class="panel-body">

          <!-- Label and input for price -->
          <div class="form-group">
            <label for="price" class="col-sm-3 control-label required">
              Price
            </label>
            <div class="col-sm-4">
          <%= number_field_tag 'price', nil,min: 0, max: 9999.99, step: 0.01, class: 'form-control' %>
            </div>
          </div>

        <!-- Label and input for handling_time -->
          <div class="form-group">
            <label for="handling_time" class="col-sm-3 control-label required">
              Handling time <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            </label>
            <div class="col-sm-4">
              <%= text_field_tag 'handling_time', nil, class: 'form-control' %>
            </div>
          </div>

        <!-- Label and input for available_at -->
          <div class="form-group">
            <label for="available_at" class="col-sm-3 control-label">
              Available for delivery from <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            </label>
            <div class="col-sm-4">
              <%= text_field_tag 'available_at', nil, class: 'form-control' %>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Others</h3>
        </div>
        <div class="panel-body">

          <!-- Label and input for listing_duration -->
          <div class="form-group">
            <label for="listing_duration" class="col-sm-3 control-label required">
              Listing duration
            </label>
            <div class="col-sm-4">
              <%= text_field_tag 'listing_duration', nil, class: 'form-control' %>
            </div>
          </div>

          <!-- Label and input for address_id -->
          <div class="form-group">
            <label for="address_id" class="col-sm-3 control-label">
              Item address <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            </label>
            <div class="col-sm-4">
              <%= text_field_tag 'address_id', nil, class: 'form-control' %>
            </div>
          </div>
        </div>
      </div>

      <!-- CREATE BUTTON -->
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-9">
          <%= submit_tag "Create draft", :class => "btn btn-primary" %>
        </div>
      </div>

    <% end %>
    <div class="col-md-12">
      <%= link_to "Go back", "/sell" %>
    </div>
  </div>
</div>
