<br>
<% if @draft.length >0 %>
  <h3>Drafts</h3>
  <p>These items are not yet on sale, they may be lacking some information before being able to be put on sale</p>
  <% @draft.each do |item| %>
    <div class="row summary-item-frame">
      <div class="col-md-3 summary-item-picture-frame">
            <% if !@pictures.where(:item_id => item.id).first.nil? %>
              <a href="/items/<%= item.id %>"><img class="summary-item-picture"
              src="<%= @pictures.where(:item_id => item.id).first.image.url %>"></a>
            <% else %>
              <%= link_to "#{image_tag('default_picture.png', class: 'summary-item-picture')}".html_safe, item_path(item.id) %>
            <% end %>
      </div>
      <div class="col-md-9 summary-item-data">
        <a class="summary-item-name" href="/items/<%= item.id %>"><%= item.title %></a>
        <ul>
          <li>Price: <%= item.price%></li>
          <li>Created on <%= item.created_at.strftime("%D, %I:%M %p") %></li>
        </ul>
        <%= link_to "Edit information", edit_item_path(item.id), class: "btn btn-default" %>
        <%= link_to "Edit pictures", pictures_path, class: "btn btn-default" %>
        <%= link_to "Put on sale", "sell/"+item.id.to_s, :method => "patch", data: {confirm: "Are you sure?"}, class: "btn btn-default" %>
        <%= link_to "Delete", item_path(item.id), :method => "delete", data: {confirm: "Are you sure?"}, class: "btn btn-default" %>
      </div>
    </div>
    <br>
  <% end %>
<% end %>

<% if @disabled.length >0 %>
  <h3>Disabled items</h3>
  <p>These items are not on sale anymore - you can either to put them back on sale or delete them</p>
  <% @disabled.each do |item| %>
    <div class="row summary-item-frame">
      <div class="col-md-3 summary-item-picture-frame">
        <a href="/item_display/<%= item.id %>"><img class="summary-item-picture"
        <% if !@pictures.where(:item_id => item.id).first.nil? %>
          src="<%= @pictures.where(:item_id => item.id).first.image.url %>"
        <% else %>
        src="/assets/default_picture.png"
        <% end %>
        ></a>
      </div>
      <div class="col-md-9 summary-item-data">
        <a class="summary-item-name" href="/item_display/<%= item.id %>"><%= item.title %></a>
        <ul>
          <li>Price: <%= item.price %></li>
          <li>Created on <%= item.created_at.strftime("%D, %I:%M %p") %></li>
        </ul>
        <%= link_to "Edit information", edit_item_path(item.id), class: "btn btn-default" %>
        <%= link_to "Edit pictures", pictures_path, class: "btn btn-default" %>
        <%= link_to "Put on sale", "sell/"+item.id.to_s, :method => "patch", data: {confirm: "Are you sure?"}, class: "btn btn-default" %>
        <%= link_to "Delete", item_path(item.id), :method => "delete", data: {confirm: "Are you sure?"}, class: "btn btn-default" %>
      </div>
    </div>
    <br>
  <% end %>
<% end %>
