<% if   @purchases.count==0 || @purchases.blank? %>
    <h2>Nothing bought yet =(</h2>
    <br>
    <%= link_to "Look for something to buy!", "/buy", :class => "btn btn-lg btn-primary"%>
<% else %>
  <h3>Items bought</h3>
  <% @purchases.each do |purchase| %>
    <div class="row summary-item-frame">
      <div class="col-md-3 summary-item-picture-frame">
            <% if !@pictures.where(:item_id => purchase.id).first.nil? %>
              <a href="/items/<%= purchase.id %>"><img class="summary-item-picture"
              src="<%= @pictures.where(:item_id => purchase.id).first.image.url %>"></a>
            <% else %>
              <%= link_to "#{image_tag('default_picture.png', class: 'summary-item-picture')}".html_safe, item_path(purchase.id) %>
            <% end %>
      </div>
      <div class="col-md-9 summary-item-data">
        <a class="summary-item-name" href="/items/<%= purchase.item.id %>"><%= purchase.item.title %></a>
        <ul>
          <li>Price: <%= purchase.item.price %></li>
          <li>Sold in <%= purchase.created_at.strftime("%D, %I:%M %p") %></li>
        </ul>
      </div>
    </div>
    <br>
  <% end %>
<% end %>
