<div class="row">
  <div class="col-md-12">
    <div role="tabpanel">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Your profile</a></li>
        <% if false %>
          <li role="presentation" ><a href="#favorites" aria-controls="favorites" role="tab" data-toggle="tab">Your favorite items</a></li>
        <% end %>

        <% if @selling.length >0 %>
          <li role="presentation"><a href="#sell" aria-controls="sell" role="tab" data-toggle="tab">Items you are selling</a></li>
        <% end %>

        <% if @offers_made.length >0 %>
          <li role="presentation"><a href="#offer_made" aria-controls="buy" role="tab" data-toggle="tab">Offers you made</a></li>
        <% end %>

        <li role="presentation"><a href="#buy" aria-controls="buy" role="tab" data-toggle="tab">Items you bought</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="profile">
          <%= render :file => "/app/views/general/summary_profile" %>
        </div>
        <% if false %>
          <div role="tabpanel" class="tab-pane" id="favorites">
            <%= render :file => "/app/views/general/summary_favorite" %>
          </div>
        <% end %>

        <div role="tabpanel" class="tab-pane" id="offer_made">
          <%= render :file => "/app/views/general/summary_offer_made" %>
          <h3>Items that you offered to buy</h3>
        </div>

        <div role="tabpanel" class="tab-pane" id="sell">
           <%= render :file => "/app/views/general/summary_sell" %>
        </div>
        <div role="tabpanel" class="tab-pane" id="buy">
          <%= render :file => "/app/views/general/summary_buy" %>
        </div>
      </div>
    </div>
  </div>
</div>
