<div class="row">
  <div class="col-md-12">
    <h3>Manage purchases</h3>

    <%= link_to "Add new purchase", new_purchase_path, :class => "btn btn-primary" %>
    <p>&nbsp</p>
    <table class="table table-striped">
      <tr>
        <th>Item</th>
        <th>Buyer</th>
        <th>Seller</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

      <% @purchases.each do |purchase| %>
      <tr>
        <td><%= purchase.item_id %></td>
        <td><%= purchase.buyer_id %></td>
        <td><%= purchase.seller_id %></td>
        <td>
         <%= link_to "View", purchase_path(purchase.id) %>
        </td>
        <td>
          <%= link_to "Edit", edit_purchase_path(purchase.id) %>
        </td>

        <td>
          <%= link_to "Delete", purchase_path(purchase.id), :method => "delete", data: {confirm: "Are you sure?"} %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
