<div class="row">
  <div class="col-md-12">
    <h3>Manage buildings</h3>

    <%= link_to "Add new building", new_building_path, :class => "btn btn-primary" %>
    <p>&nbsp</p>
    <table class="table table-striped">
      <tr>
        <th>Label</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

      <% @buildings.each do |building| %>
      <tr>
        <td><%= building.label %></td>
        <td><%= building.address_line_1 %></td>
        <td><%= building.city %></td>
        <td><%= building.state %></td>
        <td>
         <%= link_to "View", building_path(building.id) %>
        </td>
        <td>
          <%= link_to "Edit", edit_building_path(building.id) %>
        </td>

        <td>
          <%= link_to "Delete", building_path(building.id), :method => "delete", data: {confirm: "Are you sure?"} %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
