<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3><%= @building.label %> data</h3>
    <dl class="dl-horizontal">
      <dt>Label</dt>
      <dd><%= @building.label %></dd>
      <dt>Address</dt>
      <dd><%= @building.address_line_1 %></dd>
      <dt>City</dt>
      <dd><%= @building.city %></dd>
      <dt>State</dt>
      <dd><%= @building.state %></dd>
      <dt>Zip</dt>
      <dd><%= @building.zip %></dd>
      <dt>Country</dt>
      <dd><%= @building.country %></dd>
    </dl>
    <%= link_to "Go back", buildings_path %>
    <br>
    </div>
  </div>
</div>
