<div class="row">
  <div class="col-md-12">
    <h3>Manage carts</h3>

    <%= link_to "Add new item on cart", new_cart_path, :class => "btn btn-primary" %>
    <p>&nbsp</p>

    <table class="table table-striped">
      <tr>
        <th>User</th>
        <th>Item</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

      <% @carts.each do |cart| %>
      <tr>
        <td><%= cart.user.name %></td>
        <td><%= cart.item.title %></td>

        <td>
         <%= link_to "View", cart_path(cart.id) %>
        </td>
        <td>
          <%= link_to "Edit", edit_cart_path(cart.id) %>
        </td>

        <td>
          <%= link_to "Delete", cart_path(cart.id), :method => "delete", data: {confirm: "Are you sure?"} %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
