<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3>Cart #<%= @cart.id %> data</h3>
    <dl class="dl-horizontal">
      <dt>Buyer ID</dt>
      <dd><%= @cart.buyer_id %></dd>
      <dt>Item owner ID</dt>
      <dd><%= Item.find(@cart.item_id).user.name %></dd>
      <dt>Item</dt>
      <dd><%= @cart.item_id %></dd>
    </dl>
    <%= link_to "Go back", carts_path %>
  </div>
</div>
