<div class="row">
  <div class="col-md-12">
    <h3>Make offer</h3>

    <p>Message to the seller</p>

    <%= form_tag "/offers", :class => "form-horizontal", :method => "post" do %>

      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" aria-required="true" class="col-sm-3 control-label">
          Brief description
          <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Write a compelling description about the item you are selling. Limit of 200 characters. You can put further information in the 'details' field below"></span>
        </label>
        <div class="col-sm-8">
          <%= text_area_tag 'description', nil, maxlength: 200, class: 'form-control item-description' %>
        </div>
      </div>

      <%= check_box_tag 'accept' %>

      <!-- CREATE BUTTON -->
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-9">
          <%= submit_tag "Make offer", :class => "btn btn-primary", data: {confirm: "Are you sure?"} %>
        </div>
      </div>

    <% end %>
    <div class="col-md-12">
      <%= link_to "Go back", offers_path %>
    </div>
  </div>
</div>
