<div class="row">
  <div class="col-md-12">
    <%= form_tag picture_path(@picture), :class => "form-horizontal", :method => "put" do %>

      <!-- Label and input for item_id -->
      <div class="form-group">
        <label for="item_id" class="col-sm-3 control-label">
          Item_id
        </label>
        <div class="col-sm-4">
          <%= text_field_tag 'item_id', @picture.item_id, class: 'form-control' %>
        </div>
      </div>

      <!-- Label and input for picture_address -->
      <div class="form-group">
        <label for="picture_address" class="col-sm-3 control-label">
          Picture_address
        </label>
        <div class="col-sm-4">
          <%= text_field_tag 'picture_address', @picture.picture_address, class: 'form-control' %>
        </div>
      </div>
      <!-- UPDATE BUTTON -->
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-9">
          <%= submit_tag "Update picture", :class => "btn btn-primary" %>
        </div>
      </div>
    <% end %>
    <div class="col-md-12">
      <%= link_to "Go back", pictures_path %>
      <br>
    </div>
  </div>
</div>



