<div class="row">
  <div class="col-md-12">
    <h3>Manage pictures</h3>

    <%= link_to "Add new picture", new_picture_path, :class => "btn btn-primary" %>
    <p>&nbsp</p>
    <table class="table table-striped">
      <tr>
        <th>Item ID</th>
        <th>Picture Address</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

      <% @pictures.each do |picture| %>
      <tr>
        <td><%= picture.item_id %></td>
        <td><%= picture.picture_address %></td>
        <td>
         <%= link_to "View", picture_path(picture.id) %>
        </td>
        <td>
          <%= link_to "Edit", edit_picture_path(picture.id) %>
        </td>

        <td>
          <%= link_to "Delete", picture_path(picture.id), :method => "delete", data: {confirm: "Are you sure?"} %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
