<div class="row">
  <div class="col-md-12">

    <%= form_tag "/pictures", :class => "form-horizontal", :method => "post" do %>

      <!-- Label and input for item_id -->
      <div class="form-group">
        <label for="item_id" class="col-sm-3 control-label">
          Item_id
        </label>
        <div class="col-sm-4">
          <%= text_field_tag 'item_id', nil, class: 'form-control' %>
        </div>
      </div>

      <!-- Label and input for picture_address -->
      <div class="form-group">
        <label for="picture_address" class="col-sm-3 control-label">
          Picture_address
        </label>
        <div class="col-sm-4">
          <%= text_field_tag 'picture_address', nil, class: 'form-control' %>
        </div>
      </div>

      <!-- CREATE BUTTON -->
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-9">
          <%= submit_tag "Create new pictur", :class => "btn btn-primary" %>
        </div>
      </div>

    <% end %>
    <div class="col-md-12">
      <%= link_to "Go back", pictures_path %>
      <br>
    </div>
  </div>
</div>
