<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3>Picture <%= @picture.id %> data</h3>
    <dl class="dl-horizontal">
      <dt>Item</dt>
      <dd><%= @picture.item.title %></dd>
      <dt>Default picture?</dt>
      <dd><%= @picture.default_picture %></dd>
      <br>
      <dt>Image (medium)</dt>
      <dd>
        <%= link_to image_tag(@picture.image.url(:med), align:"middle", style:"border: 1px solid black"), @picture.image.url, align:"center"  %>
      </dd>
      <br>
      <dt>Image (thumbnail)</dt>
      <dd>
        <%= link_to image_tag(@picture.image.url(:thumbnail), align:"middle", style:"border: 1px solid black"), @picture.image.url, align:"center"  %>
      </dd>

    </dl>
    <div class="col-md-12">
    </div>
    <%= link_to "Go back", :back %>
    <br>
    </div>
  </div>
</div>
