<div class="row">
  <div class="col-md-12">
    <h3>Manage prices</h3>

    <%= link_to "Add new price", new_price_path, :class => "btn btn-primary" %>
    <p>&nbsp</p>
    <table class="table table-striped">
      <tr>
        <th>Item</th>
        <th>Price</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

      <% @prices.each do |price| %>
      <tr>
        <td><%= price.item_id %></td>
        <td><%= price.price %></td>
        <td>
         <%= link_to "View", price_path(price.id) %>
        </td>
        <td>
          <%= link_to "Edit", edit_price_path(price.id) %>
        </td>

        <td>
          <%= link_to "Delete", price_path(price.id), :method => "delete", data: {confirm: "Are you sure?"} %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
