<div class="row">
  <div class="col-md-12">

    <%= form_tag "/prices", :class => "form-horizontal", :method => "post" do %>

      <!-- Label and input for item_id -->
      <div class="form-group">
        <label for="item_id" class="col-sm-3 control-label">
          item_id
        </label>
        <div class="col-sm-4">
          <%= text_field_tag 'item_id', nil, class: 'form-control' %>
        </div>
      </div>

      <!-- Label and input for value -->
      <div class="form-group">
        <label for="value" class="col-sm-3 control-label">
          Value
        </label>
        <div class="col-sm-4">
          <%= text_field_tag 'value', nil, class: 'form-control' %>
        </div>
      </div>

      <!-- CREATE BUTTON -->
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-9">
          <%= submit_tag "Create new price", :class => "btn btn-primary" %>
        </div>
      </div>

    <% end %>
    <div class="col-md-12">
      <%= link_to "Go back", prices_path %>
      <br>
    </div>
  </div>
</div>
