<div class="row">
  <div class="col-md-12">
    <%= form_tag offer_path(@offer), :class => "form-horizontal", :method => "put" do %>
      <!-- Label and input for buyer_id -->
      <div class="form-group">
        <label for="buyer_id" class="col-sm-3 control-label">
          buyer_id
        </label>
        <div class="col-sm-4">
          <%= text_field_tag 'buyer_id', @offer.buyer_id, class: 'form-control' %>
        </div>
      </div>

      <!-- Label and input for item_id -->
      <div class="form-group">
        <label for="item_id" class="col-sm-3 control-label">
          item_id
        </label>
        <div class="col-sm-4">
          <%= text_field_tag 'item_id', @offer.item_id, class: 'form-control' %>
        </div>
      </div>

      <!-- CREATE BUTTON -->
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-9">
          <%= submit_tag "Update offer", :class => "btn btn-primary" %>
        </div>
      </div>

    <div class="col-md-12">
      <%= link_to "Go back", offers_path %>
    </div>
    <% end %>
  </div>
</div>



