<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <ol class="breadcrumb">
      <li><%= link_to "Home", "/buy" %></li>
      <li><%= link_to @item.category_1_id, "#" %></li>
      <li class="active"><%= @item.title %></li>
    </ol>
    <div class="row item-header">
      <div class="item-name">
        <h1><%= @item.title %></h1>
      </div>
      <div class="item-social">
      <span style="font-size: 40px; float: right" class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
      </div>
    </div>

    <div class="row item-highlight">
      <div class="col-md-8 item-picture-frame">
        <img class="item-picture"
          <% if !@pictures.first.nil? %>
              src="<%= @pictures.first.image.url %>"
          <% else %>
              src="/assets/default_picture.png"
          <% end %>
        >
        <% if !@pictures.first.nil? %>
          <div class="item-thumblist">
          <% @pictures.each do |picture| %>
            <img class="item-thumbnail" src="<%= picture.image.url %>">
          <% end %>
          </div>
        <% end %>
      </div>
      <div class="col-md-4 item-data-frame">
        <% if !@price.nil? %>
          <div class="row item-price" >$<%= "%.2f" % @price.value.to_f %></div>
        <% end %>
        <div class="row">
          <div class="col-md-12">
          <% if current_user.id == @item.user_id %>
            <p><em>This item was created by you</em></p>
            <%= link_to "Edit this item", "/sell/"+@item.id.to_s+"/edit", class: "btn btn-lg btn-primary" %>
            <br><br>
            <%= link_to "Delete this item", item_path(@item.id), :method => "delete", data: {confirm: "Are you sure?"}, class: "btn btn-lg btn-primary" %>
          <% else %>
            <%= form_tag carts_path, :class => "form-horizontal", :method => "post" do %>

              <%= hidden_field_tag 'buyer_id', current_user.id, required: true %>
              <%= hidden_field_tag 'item_id', @item.id, required: true %>
              <%= submit_tag "Add to cart", :class => "btn btn-lg btn-primary" %>

            <% end %>
          <% end %>
          </div>
        </div>

        <div class="row item-description">
          <p><%= @item.description %></p>
        </div>
      </div>
    </div>
    <div class="row item-details">
        <h3>Item Specifics</h3>
        <dl class="dl-horizontal">
          <dt>Condition</dt>
          <% if !@item.condition_id? %>
          <dd><%= @item.condition_id %>: <%= @item.condition_id %></dd>
          <% else %>
          <dd></dd>
          <% end %>
          <dt>Item URL</dt>
          <dd><a href="<%= @item.item_url %>" target="_blank"><%= @item.item_url %></a></dd>
          <dt>Details</dt>
          <dd><%= @item.details %></dd>
        </dl>
        <h3>Other useful information</h3>
        <dl class="dl-horizontal">
          <dt>On sale by</dt>
          <dd><%= @item.user.name%></dd>
          <dt>On sale until</dt>
          <dd><%= @item.listing_duration %></dd>
          <dt>Available for delivery from:</dt>
          <dd><%= @item.available_at %></dd>
          <dt>Handling time</dt>
          <dd><%= @item.handling_time %></dd>
        </dl>
    </div>
    <%= link_to "Go back", :back %>
  </div>
</div>
