<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <ol class="breadcrumb">
      <li><%= link_to "Home", "/buy" %></li>
      <li><%= categories[@item.category_1_id-1][0] %></li>
      <li class="active"><%= @item.title %></li>
    </ol>
    <div class="row item-header">
      <div class="item-name">
        <h1><%= @item.title %></h1>
      </div>
      <!-- <div class="item-social">
      <span style="font-size: 40px; float: right" class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
      </div> -->
    </div>

    <div class="row item-highlight">
      <div class="col-md-8 item-picture-frame">
        <% if @pictures.count != 0 %>
          <%= image_tag(@main_picture.image.url(:med), class: "item-picture", id: "main_picture")  %>
        <% else %>
          <%= image_tag('default_picture.png', class: 'item-picture') %>
        <% end %>
        <% if !@pictures.first.nil? %>
          <div class="item-thumblist">
          <% @pictures.each_with_index do |picture,i| %>
            <%= image_tag(picture.image.url(:thumbnail), class: "item-thumbnail", id: "picture#"+i.to_s, onclick:"{document.getElementById('main_picture').src = '#{@pictures[i].image.url(:med)}';}")  %>
          <% end %>
          </div>
        <% end %>
      </div>
      <div class="col-md-4 item-data-frame">
          <div class="row item-price" >$<%= "%.2f" % @item.price %></div>
        <div class="row">
          <div class="col-md-12">
          <% if current_user.id == @item.user_id %>
            <p><em>This item was created by you</em></p>
            <%= link_to "Edit this item", edit_item_path(@item.id), class: "btn btn-lg btn-primary" %>
            <br><br>
            <%= link_to "Edit the pictures", "/pictures/item/"+@item.id.to_s, class: "btn btn-lg btn-primary" %>
            <br><br>
            <%= link_to "Delete this item", item_path(@item.id), :method => "delete", data: {confirm: "Are you sure?"}, class: "btn btn-lg btn-primary" %>
          <% else %>
            <%= form_tag carts_path, :class => "form-horizontal", :method => "post" do %>

              <%= hidden_field_tag 'buyer_id', current_user.id, required: true %>
              <%= hidden_field_tag 'item_id', @item.id, required: true %>
              <%= submit_tag "Add to cart", :class => "btn btn-lg btn-primary" %>

            <% end %>
          <% end %>
          </div>
        </div>

        <div class="row item-description">
          <p><%= @item.description %></p>
        </div>
      </div>
    </div>
    <div class="row item-details">
        <h3>Item Specifics</h3>
        <dl class="dl-horizontal">
          <dt>Category</dt>
          <dd><%= categories[@item.category_1_id-1][0] %></dd>
          <% if !@item.condition_id.nil? && !@item.condition_id.blank?  %>
            <dt>Condition</dt>
            <dd><%= conditions[@item.condition_id-1][0] %></dd>
          <% end %>
          <% if !@item.item_url.nil? && !@item.details.blank?%>
            <dt>Reference link</dt>
            <dd><a href="<%= @item.item_url %>" target="_blank"><%= @item.item_url %></a></dd>
          <% end %>
          <% if !@item.details.nil? && !@item.details.blank? %>
            <dt>Details</dt>
            <dd><%= @item.details %></dd>
          <% end %>
        </dl>
        <h3>Other useful information</h3>
        <dl class="dl-horizontal">
          <dt>Seller</dt>
          <dd><%= @item.user.name%></dd>
          <% if !@item.listing_duration.nil? && !@item.listing_duration.blank? %>
            <dt>On sale until:</dt>
            <dd><%= @item.listing_duration %></dd>
          <% end %>
          <% if !@item.available_at.nil? && !@item.available_at.blank? %>
            <dt>Available for delivery:</dt>
            <dd><%= @item.available_at %></dd>
          <% end %>
          <% if !@item.address_id.nil? %>
            <dt>Item location: </dt>
            <dd><%= Address.find(@item.address_id).city %></dd>
          <% end %>
        </dl>
    </div>
    <%= link_to "Go back", :back %>
  </div>
</div>
