<div class="row">
  <div class="col-md-12">
    <h3>Manage categories</h3>

    <%= link_to "Add new category", new_category_path, :class => "btn btn-primary" %>
    <p>&nbsp</p>
    <table class="table table-striped">
      <tr>
        <th>Name</th>
        <th>Level</th>
        <th>Parent</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.level %></td>
        <td><%= category.parent_id %></td>
        <td>
         <%= link_to "View", category_path(category.id) %>
        </td>
        <td>
          <%= link_to "Edit", edit_category_path(category.id) %>
        </td>

        <td>
          <%= link_to "Delete", category_path(category.id), :method => "delete", data: {confirm: "Are you sure?"} %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
