<!-- Validation failure messages -->
  <% if @category.errors.any? %>
    <% @category.errors.full_messages.each do |message| %>
      <div class="alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= message %>
      </div>
    <% end %>
  <% end %>

<div class="row">
  <div class="col-md-12">

    <%= form_tag "/categories", :class => "form-horizontal", :method => "post" do %>

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="col-sm-3 control-label">
          Name
        </label>
        <div class="col-sm-4">
          <%= text_field_tag 'name', nil, class: 'form-control' %>
        </div>
      </div>

      <!-- Label and input for level -->
      <div class="form-group">
        <label for="level" class="col-sm-3 control-label">
          level
        </label>
        <div class="col-sm-4">
          <%= text_field_tag 'level', nil, class: 'form-control' %>
        </div>
      </div>

      <!-- Label and input for parent_id -->
      <div class="form-group">
        <label for="parent_id" class="col-sm-3 control-label">
          parent_id
        </label>
        <div class="col-sm-4">
          <%= text_field_tag 'parent_id', nil, class: 'form-control' %>
        </div>
      </div>

      <!-- CREATE BUTTON -->
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-9">
          <%= submit_tag "Create new category", :class => "btn btn-primary" %>
        </div>
      </div>

    <% end %>
    <div class="col-md-12">
      <%= link_to "Go back", categories_path %>
    </div>
  </div>
</div>
