<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3>Category "<%= @category.name %>" data</h3>
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @category.name %></dd>
      <dt>Email</dt>
      <dd><%= @category.level %></dd>
      <dt>Phone</dt>
      <dd><%= @category.parent_id %></dd>
    </dl>
    <%= link_to "Go back", categories_path %>
    </div>
  </div>
</div>
